.homePageImage {
  width: 500px;
}

.homePageTitle {
  font-size: 70px;
  font-weight: 700;
  font-family: 'Arial';
}

.homePageContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
