header {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  padding-top: 20px;
  font-weight: 700;
}

header a {
  color: white;
  text-decoration: none;
}

header a:hover {
  color: #ff9800;
}
